<!-- == GLOBAL BANNER == -->
<!--stopindex-->
<a href="#content" class="sr-only">Skip to main content</a>

<header role="banner" id="banner">
    <div class="banner-logo">
        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <a href="/"><div class="logo"></div></a>
                </div>

                <button
                    type="button"
                    class="navbar-toggle searchbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#searchbar-collapse">

                    <i class="fa fa-search"></i><span class="sr-only">Toggle Search</span>
                </button>

                <div class="col-sm-6">
                    <div class="navbar-collapse collapse" id="searchbar-collapse">

                        <form
                            role="form"
                            name="seek"
                            method="get"
                            class="searchbar-form form-inline"
                            action="http://search2.nrel.gov">

                            <input type="hidden" name="ourl" id="bannerourl" onload />
                            <input type="hidden" name="rows" value="10" />

                            <div class="form-group">
                                <label for="search" class="sr-only">Search NREL.gov</label>
                                <input
                                    type="text"
                                    name="q" id="search"
                                    maxlength="2047"
                                    placeholder="Search NREL.gov"
                                    class="form-control">

                                <button type="submit" class="btn btn-default">Search</button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>




    <div class="banner-wordo">
        <div class="container">
            <div class="row visible-xs">
                <div class="col-sm-12">
                    <div class="wordo">National Renewable Energy Laboratory</div>
                </div>
            </div>
        </div>
    </div>

</header>
<!--startindex-->
<!-- == END GLOBAL BANNER == -->

