<!-- == EXTRANET FOOTER == -->
<!--stopindex-->
<footer id="footer">
    <div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-push-2">
            <div class="row">
                <div class="col-sm-2">
                    <p class="header"><a href="/">Home <i class="fa fa-angle-double-right"></i></a></p>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="header"><a href="/research/">Research <i class="fa fa-angle-double-right"></i></a></p>
                        </div>
                        <div class="col-sm-3">
                        <ul>
                        <li><a href="/bioenergy/">Bioenergy</a></li>
                        <li><a href="/buildings/">Buildings Efficiency</a></li>
                        <li><a href="https://energysciences.nrel.gov/chemical_materials/chemistry_and_nanoscience">Chemistry &amp; Nanoscience</a></li>
                        <li><a href="https://energysciences.nrel.gov/csc">Computational Science</a></li>
                        </ul>
                        </div>
                        <div class="col-sm-3">
                        <ul>
                        <li><a href="/csp/">Concentrating Solar Power</a></li>
                        <li><a href="/electricity/">Electricity Integration</a></li>
                        <li><a href="/analysis/">Energy Analysis</a></li>
                        <li><a href="/esi/">Energy Systems Integration</a></li>
                        <li><a href="/geothermal/">Geothermal Energy</a></li>
                        </ul>
                        </div>
                        <div class="col-sm-3">
                        <ul>
                        <li><a href="/hydrogen/">Hydrogen &amp; Fuel Cells</a></li>
                        <li><a href="/materials-science/">Materials Science</a></li>
                        <li><a href="/pv/">Photovoltaics</a></li>
                        <li><a href="/solar/">Solar</a></li>
                        <li><a href="/tech_deployment/">Technology Deployment</a></li>
                        </ul>
                        </div>
                        <div class="col-sm-3">
                        <ul>
                        <li><a href="/transportation/">Transportation</a></li>
                        <li><a href="/water">Water Power</a></li>
                        <li><a href="/wind/">Wind Energy</a></li>
                        </ul>
                        </div>
                    </div>
                </div>

                <!-- Follow -->
                <div class="col-sm-2">
                    <p class="header">Follow NREL</p>
                    <ul class="social-links list-inline">
                    <li><a href="https://www.facebook.com/nationalrenewableenergylab"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="/news/"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="https://twitter.com/nrel/"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/national-renewable-energy-laboratory"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://www.youtube.com/user/NRELPR/"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://www.instagram.com/nationalrenewableenergylab/"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="http://feeds.feedburner.com/NrelFeatureStories"><i class="fa fa-rss-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- NREL is... -->
        <div class="col-sm-2 col-sm-pull-10 border-right">
            <div class="row">
                <div class="col-sm-12 only-nrel">
                    <p class="nrel-attr">NREL is a national laboratory of the <a href="http://energy.gov/">U.S. Department of Energy</a>, <a href="http://energy.gov/eere/office-energy-efficiency-renewable-energy">Office of Energy Efficiency and Renewable Energy</a>, operated by the <a href="http://www.allianceforsustainableenergy.org/">Alliance for Sustainable Energy, LLC</a>.</p>
                </div>
                <div class="col-md-6">
                    <ul>
                    <li><a href="/security.html">Security &amp; Privacy Policy</a></li>
                    <li><a href="/accessibility.html">Accessibility</a></li>
                    <li><a href="/disclaimer.html">Disclaimer</a></li>
                    <li><a id="contact-link" href="/webmaster.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                    <li><a href="/careers/">Apply for a Job</a></li>
                    <li><a href="http://developer.nrel.gov/">Developers</a></li>
                    <li><a href="http://energy.gov">Energy.gov</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-2 border-right">
            <img src="/client/img/logo_doe_footer.svg" alt="U.S. Department of Energy" class="logo">
        </div>
    </div>



    </div>
</footer>
<!--startindex-->
<!-- == END EXTRANET FOOTER == -->
