
    <!-- == HP SCRIPTS == -->
    <!-- Bootstrap -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- News/events plugin -->
    <script src="/client/js/newsy/jquery.newsy.min.js"></script>

    <!-- Icons plugin -->
    <script src="/client/js/iconomatic/jquery.iconomatic.min.js"></script>


    <!-- todo: consolidate Plugins -->
    <!-- <script src="/client/js/plugins.min.js"></script>  -->

    <!-- JW Player -->
    <script src="/client/vendor/jw6/jwplayer.js" ></script>
    <script>jwplayer.key="gj1PPeb7RFVLpZpmChWEWyTT9wqRfMlQnOG4XhIrjnM=";</script>

    <!-- Application -->
    <script src="/client/js/hp.app.min.js"></script>

    <!-- == END HP SCRIPTS == -->
