
    <!-- == GLOBAL SCRIPTS == -->
    <!-- Bootstrap -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Lightbox plugin -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/3.3.0/ekko-lightbox.min.js"></script>

    <!-- Icons plugin -->
    <script src="/client/js/iconomatic/jquery.iconomatic.min.js"></script>

    <!-- AddThis Widget -->
    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=nrel" async></script>

    <!-- JW Player -->
    <script src="/client/vendor/jw6/jwplayer.js"></script>
    <script>jwplayer.key="gj1PPeb7RFVLpZpmChWEWyTT9wqRfMlQnOG4XhIrjnM=";</script>

    <!-- Global plugins -->
    <!-- <script src="/client/js/plugins.min.js"></script> -->

    <!-- Global scripts -->
    <script src="/client/js/app.min.js"></script>
    <!-- == END GLOBAL SCRIPTS == -->
