<!-- == TOP NAVIGATION == -->
<!--stopindex-->
<div class="navbar-wrapper corporate-topnav" id="topnav">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <span class="navbar-brand hidden-xs">Leading Clean Energy Innovation</span>
            </div>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown" data-topnav="about"><a href="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="fa fa-angle-down hidden-xs"></span></a>

                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/about/">About NREL <i class="fa fa-home"></i></a></li>
                        <li><a href="/about/mission-programs.html">Mission &amp; Programs</a></li>
                        <li><a href="/about/technology-transfer.html">Technology Transfer</a></li>
                        <li><a href="/innovation/">Impact</a></li>
                        <li><a href="/about/leadership.html">Leadership</a></li>
                        <li><a href="/about/community.html">Community</a></li>
                        <li><a href="/about/visiting-nrel.html">Visiting NREL</a></li>
                        <li><a href="/about/awards.html">Awards</a></li>
                        <li><a href="/news/">Newsroom</a></li>
                        <li><a href="/about/contacts.html">Contact Us</a></li>
                    </ul>
                </li>

                <li class="dropdown" data-topnav="research"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Research <span class="fa fa-angle-down hidden-xs"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/research/">Research <i class="fa fa-home"></i></a></li>
                        <li><a href="/research/highlights.html">Highlights</a></li>
                        <li><a href="/research/publications.html">Publications</a></li>
                        <li><a href="/research/collaborations.html">Collaborations</a></li>
                    </ul>
                </li>

                <li class="dropdown" data-topnav="workingwithus"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Working With Us <span class="fa fa-angle-down hidden-xs"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/workingwithus/">Working With Us <i class="fa fa-home"></i></a></li>
                        <li><a href="/workingwithus/partnership-opportunities.html">Partnerships</a></li>
                        <li><a href="/workingwithus/partnering-facilities.html">Facilities</a></li>
                        <li><a href="/workingwithus/licensing.html">Licensing</a></li>
                        <li><a href="/workingwithus/commercialization.html">Commercialization</a></li>
                        <li><a href="/workingwithus/procurement.html">Procurement</a></li>
                        <li><a href="/workingwithus/energy-education.html">Energy Education</a> </li>
                        <li><a href="/workingwithus/success-stories.html">Success Stories</a></li>
                        <li><a href="/workingwithus/faqs.html">FAQs</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Careers <span class="fa fa-angle-down hidden-xs"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/careers/">Careers <i class="fa fa-home"></i></a></li>
                        <li><a href="/careers/find-job.html">Find a Job</a></li>
                        <li><a href="/careers/your-career.html">Your Career at NREL</a></li>
                        <li><a href="/careers/interns-post-docs.html">Interns &amp; Postdocs</a></li>
                    </ul>
                </li>

            </ul>

      </div>
    </div>
</div>
<!--startindex-->
<!-- == END TOP NAVIGATION == -->
