<!-- TOP NAVIGATION -->
<!--stopindex-->
<div class="navbar-wrapper" id="topnav">
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">

            <!-- Toggle -->
            <div class="navbar-header">
                <button
                    type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#topnav-collapse">
                    <span class="icon-bar-holder">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
                    <span class="navbar-toggle-label">Menu</span>
                </button>
            </div>

            <!-- Navigation -->
            <div class="navbar-collapse collapse" id="topnav-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li data-topnav="find" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Find a Job <span class="fa fa-angle-down"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="find-job.html">Find a Job <i class="fa fa-home"></i></a></li>
                            <li><a href="hiring-process.html">Hiring Process</a></li>
                            <li><a href="employment-policies.html">Employment Policies</a></li>
                        </ul>
                    </li>

                    <li data-topnav="career" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Career at NREL <span class="fa fa-angle-down"></span></a>
                    	<ul class="dropdown-menu" role="menu">
                    		<li><a href="your-career.html">Your Career at NREL&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-home"></i></a></li>
							<li><a href="diversity.html">Diversity</a></li>
                    	</ul>
                    </li>

                    <li data-topnav="interns" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Interns &amp; Postdocs <span class="fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="interns-post-docs.html">Interns &amp; Postdocs <i class="fa fa-home"></i></a></li>
                            <li><a href="internships.html">Internships</a></li>
                            <li><a href="post-docs.html">Postdoctoral Opportunities</a>
                                <ul>
                                <li><a href="directors-fellowship.html">&raquo; Director's Fellowship</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>

      </div>
    </div>
</div>
<!--startindex-->
<!-- END TOP NAVIGATION -->

