<!--stopindex-->
<div class="col-sm-3 col-sm-pull-9 ">
    <nav class="sidenav" role="navigation">

        <ul class="nav hide" data-sidenav="research">
            <li><a href="/site/research-topic.html">Research Topic 1</a></li>
            <li><a href="/site/fake.html">Lorem Ipsum</a></li>
        </ul>


        <ul class="nav hide" data-sidenav="datatools">
            <li><a href="/site/tool-name.html">Tool 1</a></li>
            <li><a href="/site/fake.html">Lorem Ipsum</a></li>
        </ul>


        <ul class="nav hide" data-sidenav="facilities">
            <li><a href="/site/facility-name.html">Facility 1</a></li>
            <li><a href="/site/fake.html">Lorem Ipsum</a></li>
        </ul>

    </nav>
</div>
<!--startindex-->
